<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%block title%}{% endblock %}</title>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/booststrap.min.css' %}" />
</head>

<body>
<div class="container">
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
        <ul class="nav navbar-nav">
        <li class="active"><a>Çanakkale 18 Mart Üniversitesi</a></li>
        {% block list %}
        {% endblock %}
        <li > <a href="/cikis"><span class="glyphicon glyphicon-off " aria-hidden="true" ></span></a>
         </li>
        </ul>
    </nav>
    {%block content%}{%endblock%}
</div>


</body>
</html>
