@charset "utf-8";
body {
	background-color: #000;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}
#container {
	height: auto;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}
#header {
	height: auto;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}
#logo {
	margin-left: 90px;
	margin-right: 90px;
	padding: 10px;
}
#buttons {
	margin-right: 50px;
	margin-left: 100px;
	padding: 10px;
}
