{% extends 'base.html' %}
{% block title %}Ders Seçme{% endblock %}
{%load static%}
{% block list %}
        <li><a href="/student">Öğrenci Bilgileri</a></li>
        <li><a href="/student/transcript/">Transkript</a></li>
        <li><a href="/student/exam_results/">Sınav Sonuçları</a></li>
{% endblock %}
{% block content %}
<h3>Ders Seçme</h3>
<br>
<form method="post">{% csrf_token %}
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>#</th>
            <th>Ders Kodu</th>
            <th>Ders Adı</th>
            <th>Dersi Veren</th>
            <th>Dönem</th>
            </tr>
        </thead>
    <tbody>
        {% for i in acilandersler%}

        <tr>
            <td>    <label for="{{acilandersler}}" class="form-check-label">
      <input type="checkbox" class="form-check-input">
    </label></td>
            <td>{{i.kod}}</td>
            <td>{{i.ders}}</td>
            <td>{{i.ogretimGorevlisi.adi}} {{i.ogretimGorevlisi.soyadi}}</td>
            <td>{{i.donem}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
<input class="btn btn-primary" type="submit" value="Ekle">
        <br>
        <br>
        </form>
{% endblock %}