{% extends 'base.html' %}
{% block title %}Ders Girişi{% endblock %}
{% block list %}
        <li><a href="/staff/">Personel Sayfası</a></li>
        <li><a href="/staff/course_entry/">Ders Girişi</a></li>
{% endblock %}
{% block content %}
<h3>Ders Açma</h3>
<br>
<form method="post">{% csrf_token %}
{% for field in form %}
    <div class="form-group row">
  <label for="{{field.auto_id}}" class="col-xs-2 col-form-label">{{field.label_tag}}</label>
  <div class="col-xs-4">
    {{field}}
 </div>
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Ekle">
    </form>
{% endblock %}