{% extends 'base.html' %}
{% block title %}Sınav Sonuçları{% endblock %}
{%load static%}
{% block list %}
        <li><a href="/student">Öğrenci Bilgileri</a></li>
        <li><a href="/student/transcript/">Transkript</a></li>
        <li><a href="/student/course_pick/">Ders Seçme</a></li>
{% endblock %}
{% block content %}
<h3>Sınav Sonuçları</h3>
<br>
{% endblock %}