<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Çanakkale 18 Mart</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/booststrap.min.css' %}" />


</head>
    
<body>


<div id="container">
    <div id="header">
        <div id="logo">
            <img src="{% static "img/MTKCEGEF.jpg" %}" width="200" height="200" alt="COMU"/>
          <p></p>
        </div>
		    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-3" for="username"></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="password"></label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div id="button">
                <button type="submit" class="btn btn-danger btn-block" >Log In</button>
            </div>
        </form>
                {% if giris_kontrol.errors %}
                <font color="red"><center><p>Kullanıcı Adı veya Şifre Yanlış!</p></center> </font>
                {% endif %}
        </div>
        </form>
    </div>
        

    	</div>
</div>
</body>
</html>
