{% extends 'base.html' %}
{% block title %}Öğretim Elemanı{% endblock %}
{%load static%}
{% block list %}
        <li><a href="/instructor/note_entry/">Not Girişi</a></li>
        <li><a href="/instructor/mentor/">Danışman Olunan Öğrenciler</a></li>
        <li><a href="/instructor/mentor/approval/">Danışman Ders Onayı</a></li>
{% endblock %}
{% block content %}
{% for i in personel%}
<div class="header2">
        <img src="{% static "img/MTKCEGEF.jpg" %}" width="150" height="150" alt="COMU"/>
        <p></p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="3">Kişisel Bilgiler</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Adı : {{i.adi}}</td></tr>
                <tr><td>Soyadı : {{i.soyadi}}</td></tr>
                <tr><td>Telefon : {{i.telefon}}</td></tr>
                <tr><td>Email : {{i.email}}</td></tr>
            </tbody>


        {%endfor%}
{% endblock %}
