{% extends 'base.html' %}
{% block title %}Ders Onaylama{% endblock %}
{%load static%}
{% block list %}
        <li><a href="/instructor/note_entry/">Not Girişi</a></li>
        <li><a href="/instructor/">Öğretim Elemanı</a></li>
        <li><a href="/instructor/mentor/">Danışman Olunan Öğrenciler</a></li>
{% endblock %}
{% block content %}
<h3>Danışman Ders Onayı</h3>
<br>
{{form.as_p}}
{% endblock %}
