{% extends 'base.html' %}
{% block title %}Danışman Olunan Öğrenciler{% endblock %}
{%load static%}
{% block list %}
        <li><a href="/instructor/note_entry/">Not Girişi</a></li>
        <li><a href="/instructor/">Öğretim Elemanı</a></li>
        <li><a href="/instructor/mentor/approval/">Danışman Ders Onayı</a></li>
{% endblock %}
{% block content %}
<h3>Danışman Olunan Öğrenciler</h3>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Ad</th>
      <th>Soyad</th>
      <th>Numara</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Bolum - Donem</th>
    </tr>
  </thead>
        {% for i in ogrenciler%}
  <tbody>
    <tr>
      <td>{{i.adi}}</td>
      <td>{{i.soyadi}}</td>
      <td>{{i.ogrencino}}</td>
      <td>{{i.telefon}}</td>
      <td>{{i.email}}</td>
      <td>{{i.donem}}</td>
    </tr>
  </tbody>
        {%endfor%}
</table>

{% endblock %}