{% extends 'base.html' %}
{% block title %}Not Girişi{% endblock %}
{%load static%}
{% block list %}
        <li><a href="/instructor/">Öğretim Elemanı</a></li>
        <li><a href="/instructor/mentor/">Danışman Olunan Öğrenciler</a></li>
        <li><a href="/instructor/mentor/approval/">Danışman Ders Onayı</a></li>
{% endblock %}
{% block content %}
<h3>Not Girişi</h3>
<br>
{% endblock %}