{% extends 'base.html' %}
{% block title %}Personel{% endblock %}
{% block list %}
        <li><a href="/staff/course_entry/">Ders Girişi</a></li>
        <li><a href="/staff/course_open/">Ders Açma</a></li>
{% endblock %}
{% block content %}
{% for i in personel%}
<table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="3">Kişisel Bilgiler</th>
      </tr>
    </thead>
    <tbody>
        <tr><td>Adı : {{i.adi}}</td></tr>
        <tr><td>Soyadı : {{i.soyadi}}</td></tr>
        <tr><td>T.C. Kimlik Numarası : {{i.tc}}</td></tr>
    </tbody>
  </table>
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="3">İletişim Bilgileri</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <tr><td>Telefon No : 0{{i.telefon}}</td></tr>
          <tr><td>E-mail : {{i.email}}</td></tr>
      </tr>
    </tbody>
    {%endfor%}
  </table>
{% endblock %}
