{% extends 'base.html' %}
{% block title %}Öğrenci Bilgisi{% endblock %}
{%load static%}
{% block list %}
        <li><a href="/student/transcript/">Transkript</a></li>
        <li><a href="/student/course_pick/">Ders Seçme</a></li>
        <li><a href="/student/exam_results/">Sınav Sonuçları</a></li>
{% endblock %}
{% block content %}
{% for i in ogrenci%}
    <div class="header2">
      <img src="{% static "img/MTKCEGEF.jpg" %}" width="150" height="150" alt="COMU"/>
      <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="3">Kişisel Bilgiler</th>
      </tr>
    </thead>
    <tbody>
        <tr><td>Adı : {{i.adi}}</td></tr>
        <tr><td>Soyadı : {{i.soyadi}}</td></tr>
        <tr><td>T.C. Kimlik Numarası : {{i.tc}}</td></tr>
        <tr><td>Öğrenci Numarası : {{i.ogrencino}}</td></tr>
    </tbody>
  </table>
  <p></p>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th colspan="3">Bölüm Bilgileri</th>
              <tr><td>Fakültesi : {{i.bolum.fakulte.isim}}</td></tr>
              <tr><td>Bölüm Adı : {{i.bolum}}</td></tr>
              <tr><td>Danışman Öğretmeni : {{danisman.ogretimElemani.adi}} {{danisman.ogretimElemani.soyadi}}</td></tr>
          </tr>
    </thead>
  </table>
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="3">İletişim Bilgileri</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <tr><td>Telefon No : 0{{i.telefon}}</td></tr>
          <tr><td>E-mail : {{i.email}}</td></tr>
      </tr>
    </tbody>
    {%endfor%}
  </table>
    </div>

{% endblock %}
