{% extends 'base.html' %}
{% block title %}Transkript{% endblock %}
{%load static%}
{% block list %}
        <li><a href="/student">Öğrenci Bilgileri</a></li>
        <li><a href="/student/course_pick/">Ders Seçme</a></li>
        <li><a href="/student/exam_results/">Sınav Sonuçları</a></li>
{% endblock %}
{% block content %}
<h3>Transkript</h3>
<br>
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>Ders Adı</th>
            <th>Ders Kodu</th>
            <th>Aldığı Not</th>
            </tr>
        </thead>
    <tbody>
        {% for i in transkript%}

        <tr>
            <td>{{i.acilanders.ders.adi}}</td>
            <td>{{i.acilanders.kod}}</td>
            <td>{{i.harfnotu}}</td>
        </tr>
        {%endfor%}
    <tr>
            <th>ORTALAMA</th>
            <th>{{ortalama}}</th>
    </tr>
    </tbody>
    </table>
</div>
{% endblock %}

